$border-radius-base: 0.5rem;
$color-background: #ffffff;
$color-border: #E9ECEF;
$color-header: #E31F24;
$color-searchbar: #76787D;
$color-shadow: #0000001A;
$color-text: #000000;
$font-size-base: 16px;
