button {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: inherit;
    width: 100%;
}

ol, ul {
    list-style: none;
    padding: 0;
}
